// custom css
// support stylus
// check
// node_modules/ringcentral-embeddable-extension-common/src/spa/style.styl
// for overides or as example

.rc-loading
.rc-contact-frame
  position absolute
  left 0
  width 100%
  height 100%
  background #fff
  z-index 100

#Insightly-rc
  overflow visible

.rc-reloading-contacts
  position fixed
  display inline-block
  left 0
  bottom 0
  padding 5px
  background #ffffff
  border-radius 0 3px 3px 0
  z-index 401
  box-shadow 0px 0px 3px 3px rgba(0,0,0,0.35)

.text-center .call-with-ringccentral-btn
  margin 5px 0
.wordbreak
  word-break break-all
.flex
  display flex
  .rc-input
    width 100%
  .flex-item
    flex-grow 1
.flex-item + .flex-item
  margin-left 2%
.rc-contact-panel
  z-index 2211